body {
 background-image: url("baylor_background.jpg");
 background-color: #cccccc;

 background-repeat:no-repeat;
 background-size: cover;
}


@media (min-width: 992px){
    .navbar li {
        margin-left : 2em;
        margin-right : 2em;
    }
}


.carousel img {
        width:100% !important;
        min-width:100 !important;
        height: 300px;
    }

