body {
 background-image: url("dark_back.jpg");
 background-color: #ffffff ;

 background-repeat:no-repeat;
 background-size: cover;
}
@media (min-width: 992px){
    .navbar li {
        margin-left : 2em;
        margin-right : 2em;
    }
}


.nav.navbar-nav.navbar-right li a {
    color: blue !important;
}

